/*    ....... GLOBAL .......     */

*{
    text-decoration: none;
    list-style: none;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin:0;
    padding: 0;
    width: 100vw;
   
}


.cont{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;

}

.cont .a{
    display: flex;
    justify-content: center;
    align-items: center;
width: 100%;
height: 100vh;
position: relative;

}

.cont .a img.bg{
    width: 100%;
    position: relative;
height: 100%;


}

.cont .a div.imgCov{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(107, 44, 87, 0.4);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.6px);
-webkit-backdrop-filter: blur(7.6px);
border: 1px solid rgba(255, 255, 255, 1);
}

.cont .a img.logo{
    position: absolute;
    border-radius: 7px;
    top: 20px;
    left: 20px;
    height: 40px;
    width: 150px;

}

.cont .b{
    width: 100%;
    height: 100vh;
   
    overflow-y: scroll;
}

.cont .b h1{
    margin: 10px;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 35px;


color: #6B2C57;

}

form{
    
    width: 80%;
}

form .text{
    text-align: start;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
margin: 10px;

color: #6B2C57;

   
}

form .inputCont{
   margin: 10px;
   padding: 10px;
   height: 62px;
border: 2px solid #B7ABD3;
border-radius: 15px;
display: flex;
justify-content: space-between;
align-items: center;
}

form .inputCont input{
   border: none;
   padding: 10px;
   background: transparent;
   cursor: pointer;
   
}

form .inputCont input::placeholder{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;


color: #B7ABD3;
}

form .inputCont i{
    color: rgba(0, 0, 0, 0.38);
    font-weight: 700;
   
}

form .inputCont img.visa{
    width: 50px;
    height: 50px;
  
}

form .inputCont.half{
    display: inline-block;
    
}

form .inputCont.full{
    display: inline;
    width: 100%;
}

form .inputCont label {
    width: 100%;
 display: flex;
 justify-content: space-between;
align-items: center;

}

form .inputCont label > input{
    cursor: pointer;
flex: 4;

}



form .inputCont label > i:hover{
    cursor: pointer;
    font-size: 30px;
}

button{
    width: 100%;
    margin: 10px;
    padding: 20px;
    border: none;
    background: #6B2C57;
 border-radius: 15px;
 display: flex;
 justify-content: center;
 align-items: center;
 font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 25px;
cursor: pointer;

color: #FFFFFF;
}

button:hover{
    background: #6b2c575d;
}










@media screen and (max-width:960px){

.cont .a{
position: relative;

}

form .inputCont {
    
background: rgba(255, 255, 255, 0.72);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.5px);
-webkit-backdrop-filter: blur(6.5px);
border: none;
}
 
.cont .b{
    margin-top: 100px;
}

.cont .a div.imgCov{
    display: none;
}

.cont .a img.logo{
    z-index:11;
    width: 70px;
    height: 35px;
}



.cont .b{
    position: absolute;
}

}







