<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>asstella homepage VA</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Roboto&family=Square+Peg&display=swap" rel="stylesheet">
    <link rel='stylesheet'  href='homeVa.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   
</head>
<body>
    <div class="homeVaCont">
        <nav class="homeVaNav">
            <img class="homeVaNavI" src="img/transLogo.png" alt="logo">
            <ul class="homeVaNavII">
                <li class="active"><a href="">Home</a></li>
                <li><a href="">Dashboard</a></li>
                <li><a href="">Tasks</a></li>
                <li><a href="">Plans</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
            <div class="homeVaNavIII">
                <i class="fa-solid fa-user"></i>
                <i class="fa-solid fa-caret-down"></i>
            </div>

            <div class="menubar">
                <i class="fa-solid fa-bars" onclick="toggle()"></i>
            </div>

        </nav>

         <div class="sidebar ">
            <i class="fa-solid fa-x" onclick="toggle()"></i>
            <div class="icon">
                <i class="fa-solid fa-user"></i>
                <i class="fa-solid fa-caret-down"></i>
            </div>
            <div class="menu">
                <a class="active" href="">Home</a>
                <a href="">Dashboard</a>
                <a href="">Tasks</a>
                <a href="">Plans</a>
                <a href="">About Us</a>
                <a href="">Contact Us</a>
            </div>
         </div>

        <header class="homeVaHero">
            <div class="homeVaHeroI">
                <h1>Looking To Put Your Skills To Good Use?</h1>
                <h3>Work And Get Paid For Your Services</h3>
                <div class="inputCont">
                <div class="input">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Find an assistant">
                </div>
                <button class="inputBtn" >Search</button>
                </div>
                <button>Get Started</button>
            </div>
            <div class="homeVaHeroIICont">
            <img class="homeVaHeroII" src="img/transp.png" alt="image">
        
            </div>
            <button class="homeVaHeroIII">Switch To Excutive</button>
        </header>
        <section class="homeVaBrief">
            <h3> Why Personnel And Executives Choose</h3>
            <h1>Virtual Assistants From<span> ASSTELLA </span></h1>
           
            <div class="II">
                <div class="IIa">
                  <div class="icon" > <i class="fa-solid fa-medal"></i></div>
                    <h3>Tested And Trusted Professioals</h3>
                    <p>  Grow your business with asstella trusted professionals.and  getting the
                        best service available.</p>
                </div>
                <div class="IIa">
                    <div class="icon"> <i class="fa-solid fa-bullseye"></i></div>
                    <h3>Personalised Matching</h3>
                    <p>    experiences that are tailored the executives individual needs
                        and preferences</p>
                </div>
                <div class="IIa">
                    <div class="icon" ><i class="fa-solid fa-headphones"></i></div>
                    <h3>    Tip-Top Customer Service</h3>
                    <p>Customer service working hours 
                        are 9:00 am - 5:00 pm EST, 
                                  Monday - Friday.</p>
                </div>
                
            </div>
           <button>Learn How It Works</button>
           
        </section>

        <section class="homeVaLearnmore">
            <div class="I">
                <h3>Personalised Virtual Assistants</h3>
                 <h1>Our Virtual Assistants</h1>
                 <p>At Asstella we hire professionals in their unique areas who strive to provide our clients with the best assistance possible. all our assistants go through a rigorous multi-step vetting process that tests everything from their communication and area of specialty to their creativity and rousands apply but only the best ge</p>
                 <button>Learn More</button>
            </div>
            <div class="II">
               <img src="img/img6.jpg" alt="image">
            <div class="imgCov"></div>
            </div>
        </section>

     <section class="homeVaWeoffer">
        <h1>We Offer You</h1>
        <div class="I">
            <div class="Ia">
                <i class="fa-solid fa-pen-nib"></i>
                <h3>Design Services</h3>
                <p>Web design, logos & marketing
                    material </p>
            </div>
            <div class="Ia">
                <i class="fa-solid fa-thumbs-up"></i>
                <h3>Social Media Marketing</h3>
                <p>Build your companies brand 
                    & increase sales</p>
            </div>
            <div class="Ia">
                <i class="fa-solid fa-list-check"></i>
                <h3>Project Management</h3>
                <p>Organised, fast, reliable
                    and budjet</p>
            </div>
            <div class="Ia">
                <i class="fa-solid fa-image"></i>
                <h3>UI/UX Design</h3>
                <p>Identifying and solving
                    user problem</p>
            </div><div class="Ia">
                <i class="fa-sharp fa-solid fa-file-pen"></i>
                <h3>Writing And Editing</h3>
                <p>Where quality content
                    is needed.</p>
            </div>
            <div class="Ia">
                <i class="fa-solid fa-database"></i>
                <h3>Data Analytics</h3>
                <p>Quick analysis and acurate conclusions</p>
            </div>
            <div class="Ia">
                <i class="fa-solid fa-puzzle-piece"></i>
                <h3>Q&A Testing</h3>
                <p>Detecting and solving
                    technical issues</p>
            </div>
            <div class="Ia">
                <i class="fa-solid fa-code"></i>
                <h3>Web Development</h3>
                <p>Building website and
                    applications</p>
            </div>
        </div>
        <div class="II">
            <i class="fa-sharp fa-solid fa-star"></i>
            <h3>Dedicated Team Of Professionals</h3>
            <p>Expert assistants at their specific </p>
            <button>More Services</button>
        </div>
     </section>
      <section class="homeVaTestimonials">
        <div class="i">
            <div class="a">
                <h3>Testimonials</h3>
                <h1>Don’t Just Take Our Word For It See What Other People Are Saying About Asstella.</h1>
            </div>
            <div class="b">
                <img src="img/img9.jpg" alt="img">
                <div class="imgCov"></div>
                <div class="textCov">
                    <div class="icon">
                       <i class="fa-solid fa-less-than"></i>
                      
                        <i class="fa fa-user"></i>

                        <i class="fa-solid fa-greater-than"></i>
                    </div>
                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt minim veniam, quis nostrud”</p>
                    <i class="fa-sharp fa-solid fa-quote-left"></i>
                    <h3>John Doe</h3>
                    <p>CEO & Co-founder</p>
                </div>

            </div>
        </div>
        <div class="i">
            <img src="img/img.jpg" alt="img" class="a">
            <img src="img/img11.jpg" alt="img" class="b">

        </div>
      </section>
      <section class="howitworks">
       
       <div class="cont"> 
        <img src="img/img20.jpg" alt="img">
        <div class="I">
                <h3>How It Works </h3>
                <h1>How Astella’s 
                   <b> Unique Approach</b>
                    Works</h1>
                <p>Get started by having your VA set up meetings, manage your busy schedule and streamline all the information that pours into your inbox. They can help remind you of that important call, deal with the phone company, track your packages.</p>
                <a href="">Get Started</a>
        </div>
       </div>

        <div class="II">
            <div class="a">
                <h3>01.</h3>
                <hr>
                <h2>Tell us about your dream assistant</h2>
                <p>We understand every business is unique and your reuirements are specific</p>
            </div>
            <div class="a">
                <h3>02.</h3>
                <hr>
                <h2>Meet and approve your assistant</h2>
                <p>You will recieve a premium virtual assistant based on your requirements. You’ll speak to your assistant.</p>
            </div>
            <div class="a">
                <h3>03.</h3>
                <hr>
                <h2>Launch and track</h2>
                <p>The Ability to track and check your assistants progress on their current assignment.</p>
            </div>
        </div>

      </section>
      <section class="plans">
        <h2>plans</h2>
        <h1>Select a Plan Now</h1>
        <div class="I">
            <div class="a">
                <h1>Free</h1>
                <p>Perfect to get started</p>
                <p class="b">$<span>11</span>/mo</p>
              <div class="pCont">
                <i class="fa-regular fa-circle-check"></i>
                <p class="c"> 1 Task Per Month</p>
              </div>
              <div class="pCont">
                <i class="fa-regular fa-circle-check"></i>
                <p class="c"> 1 Task Per Month</p>
              </div>
              <div class="pCont">
                <i class="fa-regular fa-circle-check"></i>
                <p class="c">1 Task Per Month </p>
              </div>
              <button>Get Started</button>
               
            </div>
            <div class="a">
                <h1>Basic</h1>
                <p>Perfect to get started</p>
                <p class="b">$<span>11</span>/mo</p>
              <div class="pCont">
                <i class="fa-regular fa-circle-check"></i>
                <p class="c">3 Task Per Month </p>
              </div>
              <div class="pCont">
                <i class="fa-regular fa-circle-check"></i>
                <p class="c">1 Task Per Month </p>
              </div>
              <div class="pCont">
                <i class="fa-regular fa-circle-check"></i>
                <p class="c">1 Task Per Month </p>
              </div>
              <button>Get Started</button>
               
            </div>
            <div class="a">
                <p class="popular">POPULAR</p>
                <h1>Advanced</h1>
                <p>Best For Professionals</p>
                <p class="b">$<span>11</span>/mo</p>
              <div class="pCont">
                <i class="fa-regular fa-circle-check"></i>
                <p class="c">5 Task Per Month </p>
              </div>
              <div class="pCont">
                <i class="fa-regular fa-circle-check"></i>
                <p class="c">1 Task Per Month </p>
              </div>
              <div class="pCont">
                <i class="fa-regular fa-circle-check"></i>
                <p class="c"> 1 Task Per Month</p>
              </div>
              <button>Get Started</button>
               
            </div>
            <div class="a">
                <h1>Unlimited</h1>
                <p>Perfect to get started</p>
                <p class="b">$<span>11</span>/mo</p>
              <div class="pCont">
                <i class="fa-regular fa-circle-check"></i>
                <p class="c">3 Task Per Month </p>
              </div>
              <div class="pCont">
                <i class="fa-regular fa-circle-check"></i>
                <p class="c"> 1 Task Per Month</p>
              </div>
              <div class="pCont">
                <i class="fa-regular fa-circle-check"></i>
                <p class="c"> 1 Task Per Month</p>
              </div>
              <button>Get Started</button>
               
            </div>
        </div>
            <p class="note">Need a bigger plan? No problem. Get in touch and we'll discuss your exact requirements.</p>
      </section>
      <section class="contactus">
        <h3>Contact Us</h3>
        <h1> <span> Tell Us What You Need</span> We’d Love To Hear From You.</h1>
        
        <form action="">
           <div class="inputsCont">
            <input type="radio"  id="radio" hidden >
            <label for="radio" class="inputCont">
                <i class="fa-solid fa-globe"></i>
                <input type="text" placeholder="For my business">
                <i class="fa-solid fa-chevron-down"></i>
            </label> 
            <div class="inputCont">
                <i class="fa-solid fa-building"></i>
             <input type="text" placeholder="Company">
             </div> 
          <div class="inputCont">
            <i class="fa fa-user"></i>
            <input type="text" placeholder="First name">
            
       </div> 
       <div class="inputCont">
        <i class="fa fa-user"></i>
        <input type="text" placeholder="Last name">
       
   </div> 
   <div class="inputCont flexii">
    <i class="fa-solid fa-envelope"></i>
    <input type="email" placeholder="Email">
  
</div> 

 
           </div>
           <div class="checkCont">
        
            <input type="checkbox">
            <h4>I agree that my submitted data is being collected and stored.</h4>
       </div>
       <button type="submit">Submit</button>
        </form>
      </section>

<footer>

    <img src="img/whiteLogo.jpg" alt="logo">
   <div class="cont">
    <div class="i">
        <h3>Quick Links</h3>
        <p>Dashboard</p>
        <p>Plans</p>
        <p>Rewards</p>
        <p>Women Products</p>
    </div>
    <div class="i">
        <h3>Services</h3>
        <p>Graphic Design</p>
        <p>Data&Reporting Analyst</p>
        <p>Family Support Assistant</p>
        <p>Promo</p>
    </div>
    <div class="i">
        <h3>Social Media</h3>
        <p>Facebook</p>
        <p>Instagram</p>
        <p>Twitter</p>
        <p>Youtube</p>
    </div>
    <div class="i">
        <h3>About</h3>
        <p>Company</p>
        <p>Privacy Center</p>
        <p>Legal</p>
        <p>Help</p>
    </div>
   </div>
    <p><b>Asstella</b> * 2022 All Rights Reserved</p>

</footer>

    </div>
    


    <script>
        var sidebar = document.querySelector(".sidebar");

function toggle() {
   let x = sidebar.classList;
   x.toggle("toggle");
}

    </script>
</body>
</html>
