<!DOCTYPE html>
<html>
<head>
   <meta charset='utf-8'>
   <meta http-equiv='X-UA-Compatible' content='IE=edge'>
   <title>asstella plans page Ext</title>
   <meta name='viewport' content='width=device-width, initial-scale=1'>
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Roboto&family=Square+Peg&display=swap" rel="stylesheet">
   <link rel='stylesheet'  href='plansEx.css'>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
</head>
<body>
   <div class="homeVaCont">
       <nav class="homeVaNav">
           <img class="homeVaNavI" src="img/purpleLogo.jpg" alt="logo">
           <ul class="homeVaNavII">
               <li><a href="">Home</a></li>
               <li  ><a href="">Dashboard</a></li>
               <li ><a href="">Tasks</a></li>
               <li class="active"><a href="">Plans</a></li>
               <li><a href="">About Us</a></li>
               <li><a href="">Contact Us</a></li>
           </ul>
           <div class="homeVaNavIII">
               <i class="fa-solid fa-user"></i>
               <i class="fa-solid fa-caret-down"></i>
           </div>

           <div class="menubar">
               <i class="fa-solid fa-bars" onclick="toggle()"></i>
           </div>

       </nav>

        <div class="sidebar ">
           <i class="fa-solid fa-x" onclick="toggle()"></i>
           <div class="icon">
               <i class="fa-solid fa-user"></i>
               <i class="fa-solid fa-caret-down"></i>
           </div>
           <div class="menu">
               <a href="">Home</a>
               <a  href="">Dashboard</a>
               <a href="" >Tasks</a>
               <a href="" class="active">Plans</a>
               <a href="">About Us</a>
               <a href="">Contact Us</a>
           </div>
        </div>
        <div class="conty">
           <hi class="firstHi">Ready To Get Started?</hi>
           <h3 class="firstHiii">Choose a plan tailored to your needs 
           </h3>
         
          <div class="x">
            <h1>INDIVIDUAL PLANS</h1>
            <div class="I">
                <div class="a">
                    <h1>Free</h1>
                    <p>Perfect to get started</p>
                    <p class="b">$<span>11</span>/mo</p>
                  <div class="pCont">
                    <i class="fa-regular fa-circle-check"></i>
                    <p class="c"> 1 Task Per Month</p>
                  </div>
                  <div class="pCont">
                    <i class="fa-regular fa-circle-check"></i>
                    <p class="c"> 1 Task Per Month</p>
                  </div>
                  <div class="pCont">
                    <i class="fa-regular fa-circle-check"></i>
                    <p class="c">1 Task Per Month </p>
                  </div>
                  <button>Get Started</button>
                   
                </div>
                <div class="a">
                    <h1>Basic</h1>
                    <p>Perfect to get started</p>
                    <p class="b">$<span>11</span>/mo</p>
                  <div class="pCont">
                    <i class="fa-regular fa-circle-check"></i>
                    <p class="c">3 Task Per Month </p>
                  </div>
                  <div class="pCont">
                    <i class="fa-regular fa-circle-check"></i>
                    <p class="c">1 Task Per Month </p>
                  </div>
                  <div class="pCont">
                    <i class="fa-regular fa-circle-check"></i>
                    <p class="c">1 Task Per Month </p>
                  </div>
                  <button>Get Started</button>
                   
                </div>
                <div class="a">
                    <p class="popular">POPULAR</p>
                    <h1>Advanced</h1>
                    <p>Best For Professionals</p>
                    <p class="b">$<span>11</span>/mo</p>
                  <div class="pCont">
                    <i class="fa-regular fa-circle-check"></i>
                    <p class="c">5 Task Per Month </p>
                  </div>
                  <div class="pCont">
                    <i class="fa-regular fa-circle-check"></i>
                    <p class="c">1 Task Per Month </p>
                  </div>
                  <div class="pCont">
                    <i class="fa-regular fa-circle-check"></i>
                    <p class="c"> 1 Task Per Month</p>
                  </div>
                  <button>Get Started</button>
                   
                </div>
                <div class="a">
                    <h1>Unlimited</h1>
                    <p>Perfect to get started</p>
                    <p class="b">$<span>11</span>/mo</p>
                  <div class="pCont">
                    <i class="fa-regular fa-circle-check"></i>
                    <p class="c">3 Task Per Month </p>
                  </div>
                  <div class="pCont">
                    <i class="fa-regular fa-circle-check"></i>
                    <p class="c"> 1 Task Per Month</p>
                  </div>
                  <div class="pCont">
                    <i class="fa-regular fa-circle-check"></i>
                    <p class="c"> 1 Task Per Month</p>
                  </div>
                  <button>Get Started</button>
                   
                </div>
            </div>
 
 
          </div>
          <div class="y">
            <h1>NON-INDIVIDUAL PLANS</h1>
            <div class="I">
                <div class="a">
                    <h1>Corporate</h1>
                    <p>Perfect to get started</p>
                    <p class="b">$<span>11</span>/mo</p>
                  <div class="pCont">
                    <i class="fa-regular fa-circle-check"></i>
                    <p class="c"> Unlimited Tasks</p>
                  </div>
                  <div class="pCont">
                    <i class="fa-regular fa-circle-check"></i>
                    <p class="c"> For Registered Business</p>
                  </div>
                  <div class="pCont">
                    <i class="fa-regular fa-circle-check"></i>
                    <p class="c">Bonus Advantages </p>
                  </div>
                  <button>Get Started</button>
                   
                </div>
                <div class="a">
                    <h1>Family</h1>
                    <p>Perfect to get started</p>
                    <p class="b">$<span>11</span>/mo</p>
                  <div class="pCont">
                    <i class="fa-regular fa-circle-check"></i>
                    <p class="c">Unlimited Tasks</p>
                  </div>
                  <div class="pCont">
                    <i class="fa-regular fa-circle-check"></i>
                    <p class="c">For Family Members </p>
                  </div>
                  <div class="pCont">
                    <i class="fa-regular fa-circle-check"></i>
                    <p class="c">Bonus Advantages</p>
                  </div>
                  <button>Get Started</button>
                   
                </div>
                <div class="a">
                    <h1>Group</h1>
                    <p>Perfect To Get Started</p>
                    <p class="b">$<span>11</span>/mo</p>
                  <div class="pCont">
                    <i class="fa-regular fa-circle-check"></i>
                    <p class="c">Unlimited Tasks</p>
                  </div>
                  <div class="pCont">
                    <i class="fa-regular fa-circle-check"></i>
                    <p class="c">Fir Random Group </p>
                  </div>
                  <div class="pCont">
                    <i class="fa-regular fa-circle-check"></i>
                    <p class="c"> Bonus Advantages</p>
                  </div>
                  <button>Get Started</button>
                   
                </div>
               
            </div>
 
 
          </div>     


        </div>

<footer>

   <img src="img/whiteLogo.jpg" alt="logo">
  <div class="cont">
   <div class="i">
       <h3>Quick Links</h3>
       <p>Dashboard</p>
       <p>Plans</p>
       <p>Rewards</p>
       <p>Women Products</p>
   </div>
   <div class="i">
       <h3>Services</h3>
       <p>Graphic Design</p>
       <p>Data&Reporting Analyst</p>
       <p>Family Support Assistant</p>
       <p>Promo</p>
   </div>
   <div class="i">
       <h3>Social Media</h3>
       <p>Facebook</p>
       <p>Instagram</p>
       <p>Twitter</p>
       <p>Youtube</p>
   </div>
   <div class="i">
       <h3>About</h3>
       <p>Company</p>
       <p>Privacy Center</p>
       <p>Legal</p>
       <p>Help</p>
   </div>
  </div>
   <p><b>Asstella</b> * 2022 All Rights Reserved</p>

</footer>
   

   </div>

   <script>
       var sidebar = document.querySelector(".sidebar");

function toggle() {
  let x = sidebar.classList;
  x.toggle("toggle");
}

   </script>
</body>
</html>