<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>asstella recover password page VA</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Roboto&family=Square+Peg&display=swap" rel="stylesheet">
    <link rel='stylesheet'  href='recoverPasswordVa.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   
</head>
<body>
    <div class="cont">
        <div class="a">
            <img class="bg" src="img/img11.jpg" alt="image">
            <div class="imgCov"></div>
            <img class="logo" src="img/purpleLogo.jpg" alt="logo">

        </div>
        <center class="b">

            <h3>Sign In</h3>
            <h1>Forgot Password ?</h1>
            <p>Enter Your Email To Reset Your Password</p>
            <form action="">
                <div class="inputConts">
                    <div class="text">Enter Your Mail </div>
                    <input type="email">
             
                </div>
                <button>RECOVER</button>
                
            </form>
<div class="flash danger">
    Please put in your correct details
</div>
<div class="flash success">
    Successful
</div>

        </center>
    </div>
    <script></script>
</body>
</html>
