<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>asstella splash page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Roboto&family=Square+Peg&display=swap" rel="stylesheet">
    <link rel='stylesheet'  href='../static/splash.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   
</head>
<body>
    
     <div class="cont">
        <div class="nav">
            <img src="../static/img/purpleLogo.jpg" alt="logo" class="navLogo">
            <a href="About Us" class="navText">About Us</a>

        </div>
        <div class="hero">
            <h1 class="heroHi">We Aim To Assist You In Increasing Your WorkFlow </h1>
            <h3 class="heroHiii">We Aim To Assist You In Increasing Your WorkFlow </h3>
            <button class="heroBtn">For More Enuires <b> Click Here</b></button>
        </div>
        <div class="section">
            <div class="sectionI">
                <hi class="sectionHi">Executive</hi>
                <h3 class="sectionHiii">Become Your Own Boss</h3>
                <div class="sectionBox">
                    <div class="listCont">
                        <i class="fa-regular fa-circle-check"></i>
                        <div class="list">Submit Tasks</div>
                    </div>
                    <div class="listCont">
                        <i class="fa-regular fa-circle-check"></i>
                        <div class="list">Employ VA For Your Company</div>
                    </div>
                    <div class="listCont">
                        <i class="fa-regular fa-circle-check"></i>
                        <div class="list">Ease Of Access To Professionals</div>
                    </div>
                    <div class="listCont">
                        <i class="fa-regular fa-circle-check"></i>
                        <div class="list">Fair Payment Plans</div>
                    </div>
                    <div class="listCont">
                        <i class="fa-regular fa-circle-check"></i>
                        <div class="list">Employ Multiple VA At A Time</div>
                    </div>
                    <button class="sectionBtn">Continue As Executive</button>
                </div>
            </div>
            <div class="sectionI">
                <hi class="sectionHi">Virtual Assistant</hi>
                <h3 class="sectionHiii">Earn Your Way Up</h3>
                <div class="sectionBox">
                    <div class="listCont">
                        <i class="fa-regular fa-circle-check"></i>
                        <div class="list">Accept Jobs</div>
                    </div>
                    <div class="listCont">
                        <i class="fa-regular fa-circle-check"></i>
                        <div class="list">Earn Money</div>
                    </div>
                    <div class="listCont">
                        <i class="fa-regular fa-circle-check"></i>
                        <div class="list">Work For Executives</div>
                    </div>
                    <div class="listCont">
                        <i class="fa-regular fa-circle-check"></i>
                        <div class="list">Upgradable Subscriptions</div>
                    </div>
                    <div class="listCont">
                        <i class="fa-regular fa-circle-check"></i>
                        <div class="list">Become An Exectuive Assistant</div>
                    </div>
                    <button class="sectionBtn">Continue As Virtual Assistant</button>
                </div>
            </div>
        </div>
        <div class="about">
            <h1 class="aboutHi">About Us</h1>
            <p class="aboutText" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At elementum eu facilisis sed odio morbi. Cursus mattis molestie a iaculis at erat pellentesque. Metus vulputate eu scelerisque felis imperdiet proin fermentum leo vel. Elit pellentesque habitant morbi tristique senectus et netus. Porttitor leo a diam sollicitudin tempor id eu. Nunc sed blandit libero volutpat sed. Volutpat sed cras ornare arcu dui vivamus arcu felis bibendum. Felis eget nunc lobortis mattis aliquam faucibus purus in. Vel pretium lectus quam id leo in vitae turpis. Hendrerit gravida rutrum quisque non tellus. Velit scelerisque in dictum non consectetur.

                Sed vulputate mi sit amet. Libero volutpat sed cras ornare arcu. In fermentum posuere urna nec tincidunt praesent semper feugiat. Sollicitudin ac orci phasellus egestas tellus rutrum tellus. Et tortor at risus viverra adipiscing.Quis lectus nulla at volutpat diam ut venenatis. Sed lectus vestibulum mattis ullamcorper velit sed ullamcorper. Cursus vitae congue Amet nisl purus in mollis nunc sed. Turpis nunc eget lorem dolor sed viverra. Sed augue lacus viverra vitae. Nulla facilisi </p>
        </div>

        <div class="footer">      
                                    
            <img class="../static/footerLogo" src="img/whiteLogo.jpg" alt="logo">
            <div class="footerCont">
             <div class="i">
                 <h3>Quick Links</h3>
                 <p>Dashboard</p>
                 <p>Plans</p>
                 <p>Rewards</p>
                 <p>Women Products</p>
             </div>
             <div class="i">
                 <h3>Services</h3>
                 <p>Graphic Design</p>
                 <p>Data&Reporting Analyst</p>
                 <p>Family Support Assistant</p>
                 <p>Promo</p>
             </div>
             <div class="i">
                 <h3>Social Media</h3>
                 <p>Facebook</p>
                 <p>Instagram</p>
                 <p>Twitter</p>
                 <p>Youtube</p>
             </div>
             <div class="i">
                 <h3>About</h3>
                 <p>Company</p>
                 <p>Privacy Center</p>
                 <p>Legal</p>
                 <p>Help</p>
             </div>
            </div>
             <p><b>Asstella</b> * 2022 All Rights Reserved</p>
         
         
                    
    
        </div>

     </div>

    <script></script>
</body>
</html>
